body {
    margin: 0;
    min-height: 100vh;
    font-family: "Comic Sans MS", Arial, sans-serif;

    background: linear-gradient(
        135deg,
        #ff66cc,
        #7cff00,
        #00ffff,
        #ffcc00
    );

    display: flex;
    justify-content: center;
    align-items: center;
}

#telaCadastro,
#telaSenha,
#telaConfirmacao,
#telaFinal {
    width: 380px;
    padding: 35px;

    background-color: #fff7a8;

    border: 8px dotted #8a2be2;
    border-radius: 3px;

    box-shadow: 12px 12px 0px #ff1493;

    text-align: center;
}

h1 {
    color: #ff00aa;
    font-size: 32px;
    transform: rotate(-2deg);
}

p {
    color: #49a078;
    font-size: 15px;
}

label {
    display: block;

    margin-top: 25px;
    margin-bottom: 3px;

    text-align: left;

    color: #c8c8c8;
}

input {
    width: 90%;

    padding: 12px;

    background-color: #dbe8ff;

    border: 3px solid black;

    font-size: 15px;
}

button {
    cursor: pointer;

    margin-top: 30px;

    border: none;

    font-weight: bold;
}
#cancelar {
    background-color: limegreen;
    color: white;
    font-size: 18px;
    padding: 15px 30px;
}

#cadastroForm button[type="submit"] {
    background-color: #cccccc;
    color: #888888;
    font-size: 12px;
    padding: 5px 10px;
}

#telaConfirmacao {
    color: #eeeeee;
}

#telaConfirmacao #finalizar {
    background-color: white;
    color: #f5f5f5;
    border: 1px solid #f5f5f5;
}

#telaConfirmacao #voltar {
    background-color: #28c840;
    color: white;
    font-size: 18px;
    padding: 15px 25px;
}
.dica-senha {
    font-size: 11px;
    color: #d4d4d4;
    text-align: right;
    margin-bottom: 25px;
}

.termos-confusos {
    margin-top: 30px;
    text-align: left;
    font-size: 12px;
}

.termos-confusos input {
    width: auto;
}

.termos-confusos label {
    display: inline;
    color: #6b00ff;
}